textarea.large-input {
    width: 600px;
    /* 12px → en haut ET en bas
    14px → à gauche ET à droite */
    padding: 12px 14px;
    /* padding = le vide entre le bord de l’input et le texte */

    height: 300px;
    box-sizing: border-box;
    /* taille du texte */
    font-size: 16px; 
    
}

/* .notes {} */